<a href="https://colab.research.google.com/github/jddotcom/Old-Assignments/blob/main/Old_Assignments_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Write a Python program to generate a random number ?

import numpy as np
from numpy import random
print(random.randint(1,100,299))

[77 32 44 14  5 89 75 44 25 11 13 19 48 33 97 89 27 84 56 13 55 43 21 23
 96 69 11  8 65 38  2 77 95 35 59 82 86 31 84 48 73 69 89 56 20 62 68 34
 27 91  7 90 57 58 57 65 49 15 52 74 49 93 78 47 21 17  3 71 47 56 32 73
  4  1 98 36 98 22 19 63 44 34  8 41 58 42 10 72 48 78 69 48 56 64 69 50
 28 66 76 72  9 71 11 14 57 54 96 48 78 75  7 94 82 43 90 89  5 72 49 17
 71 19 15 78 36 73 83 33 35 92  2 13 19 86 90 10 43 44 70 95 49 17 15 98
 54 77 15 75 55 89 89 30 34 92 91 36 17 28 18 40 66 41 99 53 75 20  9 35
 36 24 37 38  6 66 37 88 62 59 86 17 26 41 47 70 21 46 54 72 51 32 93 56
 37 33 46 93  1 36 54 42 79 43 89 11 98 45 74 35 43 99 52 50 72 95 30 88
 12 10 86 36 39  9 83 43 52 19 46 64 73 80 75 35 92 47 23 94 36 60 69 49
 81 95 77 72 24 32 12 86 82 16 43 15 34 77 59 52 25 28 56 68 76 56 18 77
 93 57 91 89 39 20 65 14 60 65 33 70 73  7 38 95 85 26  3  9 45 36 25 28
 10  4 92 45 17 75 97 30 53 56 92]

In [11]:
#Write a Python program to convert Celsius to Farenheit ?

def cel_far():
  cel= int(input("Type the temp in celsius: "))
  print("{} celsius is equal to {} farenheit".format(cel, ((cel*(9/5))+32)))


cel_far()

Type the temp in celsius: 100
100 celsius is equal to 212.0 farenheit

In [15]:
#Write a Python program to display calender ?

import calendar

def calendar_display():
  year=int(input("Type the calender year: "))
  print(calendar.calendar(year))

calendar_display()

Type the calender year: 2345
                                  2345

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                1  2  3  4
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       5  6  7  8  9 10 11
15 16 17 18 19 20 21      12 13 14 15 16 17 18      12 13 14 15 16 17 18
22 23 24 25 26 27 28      19 20 21 22 23 24 25      19 20 21 22 23 24 25
29 30 31                  26 27 28                  26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1          1  2  3  4  5  6                   1  2  3
 2  3  4  5  6  7  8       7  8  9 10 11 12 13       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      14 15 16 17 18 19 20      11 12 13 14 15 16 17
16 17 18 19 20 21 22      21 22 23 24 25 26 27      18 19 20 21 22 23 24
23 24 25 26 27 28 29      28 29 30 31               25 26 27 28 29 30
30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                      1  2
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       3  4  5  6  7  8  9
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      10 11 12 13 14 15 16
16 17 18 19 20 21 22      20 21 22 23 24 25 26      17 18 19 20 21 22 23
23 24 25 26 27 28 29      27 28 29 30 31            24 25 26 27 28 29 30
30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                      1  2
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       3  4  5  6  7  8  9
15 16 17 18 19 20 21      12 13 14 15 16 17 18      10 11 12 13 14 15 16
22 23 24 25 26 27 28      19 20 21 22 23 24 25      17 18 19 20 21 22 23
29 30 31                  26 27 28 29 30            24 25 26 27 28 29 30
                                                    31

In [18]:
#Write a Python program to swap two variables without temp variable ?

a=int(input("Type the value of a: "))
b=int(input("Type the value of b: "))

a= a+b
b= a-b
a= a-b
print("new value of a: {} and b: {}".format(a,b))

Type the value of a: 10
Type the value of b: 20
new value of a: 20 and b: 10

In [28]:
#Write a Python program to check Prime Number ?

def prime_num():
  flag= False
  num= int(input("Type the number "))
  for i in range(2,num):
    if num % i ==0:
      flag = True
      break
  if (not flag):
    print("{} is prime number".format(num))
  else:
    print("{} not a prime number".format(num))


prime_num()

Type the number 29
29 is prime number

In [35]:
#Write a Python program to print all Prime Numbers in an interval of 1-10000

def prime_1000():
  n=1000
  arr=[]

  for i in range(2,n+1):
    flag = False
    for j in range(2,i):
      if i% j ==0:
        flag= True
        break
    if (not flag):
        arr.append(i)
  return print(arr)

print(prime_1000())

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
None

In [40]:
#Write a Python Program to print the fibonacci sequence ?

# Solution 1: Pre-initialize the list with the correct number of elements:
# python

def fibonacci_sequence():
    num = int(input("Type how many numbers you want to see: "))

    if num <= 0:
        return []  # Return an empty list if the input is less than or equal to 0

    F = [0] * num  # Initialize a list with `num` zeros

    if num > 1:
        F[1] = 1  # Set the second element to 1

    for i in range(2, num):
        F[i] = F[i-1] + F[i-2]  # Calculate Fibonacci numbers

    return F

# Call the function and print the result
print(fibonacci_sequence())



#Solution 2: Using append() to dynamically add elements:

def fibonacci_sequence():
    num = int(input("Type how many numbers you want to see: "))

    if num <= 0:
        return []  # Return an empty list if the input is less than or equal to 0

    F = [0, 1]  # Initialize the list with the first two Fibonacci numbers

    for i in range(2, num):
        F.append(F[i-1] + F[i-2])  # Append the next Fibonacci number

    return F

# Call the function and print the result
print(fibonacci_sequence())

Type how many numbers you want to see: 9
[0, 1, 1, 2, 3, 5, 8, 13, 21]
Type how many numbers you want to see: 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [46]:
def check_Armstrong():
    # Input the number
    num = int(input("Type the number: "))

    # Find the number of digits in the number
    j = len(str(num))

    # Initialize a variable to accumulate the sum of powers of the digits
    b = 0

    # Loop through each digit in the number
    for i in str(num):
        # Convert the character back to an integer and raise it to the power of j
        b += int(i) ** j

    # Check if the sum is equal to the original number
    if num == b:
        print("Yes")
    else:
        print("No")

# Call the function to check for Armstrong number
check_Armstrong()

Type the number: 153
Yes